
body {
    font-family: Montserrat;
    font-size: 1.2rem;
    color: black;
}


h2 {
    font-family: "Montserrat";
    font-size: 1.8rem;
    color: black;
}

.container-fluid {
    padding: 5%;
}

/* Sections */

.colored-section {
    background-color: #D3E4CD;
}

.white-section {
    background-color: #fff;
}

.colored2-section {
    background-color: #3E7C17;
}

/* Navigation Bar */

.navbar {
    padding: 1rem 5rem 1rem 5rem;
    background-color: white;

}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: bold;
    color: black !important;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: black !important;
}

/* Title Section */

.big-heading {
    padding: 6rem;
    text-align: center;
    font-weight: bold;
}

.search-btn {
    color: black;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
}

.search-window {
    text-align: center;
    width: 400px;
    height: 70px;
    border: #D3E4CD;
}

/* Random Recipes */

.section-title {
    text-align: left;
    padding-top: 3rem;
    color: black;
}

/* About Section */

.about-image {
    max-height: 500px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5%;
    padding: 1%;
}

#about {
    text-align: center;
}

.about-wrapper {
    padding: 10%;
    background-color: white;
}

/* Features Section*/

.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #D3E4CD;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #3E7C17;
}

/* Contact Section */

.contact-wrapper {
    text-align: center;
    padding: 2%;
    color: white;
}

.contact-title {
    font-size: 2.5rem;
    color: white;
}

/* Footer Section */

.social-icon {
    margin: 20px 10px;
}

#footer {
    text-align: center;
}

.footer-credit {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Search Page */

.search-page-bar {
    text-align: center;
    padding: 2% 2% 2% 2%;
    width: 350px;
    height: 75px;
    border: #D3E4CD;
    right: 20px;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

.search-result {
    margin-top: 50px;
    width: 100%;
}

.filters-btn {
    color: black;
    margin-top: 2rem;
}

.item {
    width: 100%;
    border-radius: 8px;
    padding: 15px;
}

.item img {
    height: 294px;
    border-radius: 4px;
}

.item .recipe-title {
    margin: 20px 10px 0 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.recipe-btn {
    color: white;
    margin-top: 10px;
}

.filtering {
    padding: 2rem;
}

/* Carousel */

.carousel-item {
    height: 500px;
    padding: 15x;
}

.carousel-item img {
    display: block;
    width: 100%;
    margin: auto;
}

#title-carousel {
    height: auto;
    max-width: 900px;
}

/* Random Recipes Section */

.ritem {
    width: 100%;
    border-radius: 8px;
    padding: 15px;
}

.ritem img {
    height: 200px;
    border-radius: 4px;

}

.ritem .recipe-title {
    margin: 20px 10px 0 0;
    font-size: 1.3rem;
    font-weight: 400;
}


/* Modals */

.modal-dialog {
    right: 39rem !important;
}

.modal-content {
    height: fit-content;
    width: fit-content;
    position: fixed;
}
